html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Nav Bar */
nav {
    height: 64px;
    width: 100%;
    background-color: #11b35d;
    display: flex;
    justify-content: space-between; /* Distribute left and right sections to opposite ends */
    align-items: center;
    padding: 0 20px; /* Add some padding to the nav bar */
}

/* Navbar list styling */
.navBar ul {
    list-style-type: none;
    padding: 30px;
    margin: 0;
    display: flex;
    align-items: center;
}

/* Navbar list item styling */
.navBar li {
    display: flex;
    align-items: center;
    padding: 0 20px;
}

/* Navbar link styling */
.navBar a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    position: relative; /* Required for the underline animation */
    transition: color 0.3s ease-in-out; /* Smooth color transition */
}

.navBar a.current-page {
    color: #FBBF16; /* Yellow color */
}

/* Hover and focus styles */
.navBar a:hover,
.navBar a:focus {
    color: #FBBF16; /* Yellow color on hover/focus */
}

.navBar a:hover::after,
.navBar a:focus::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #FBBF16; /* Yellow underline */
    animation: underline-animation 0.3s forwards; /* Underline animation */
}

/* Underline animation */
@keyframes underline-animation {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

.navBar a.current-page::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #FBBF16; /* Yellow underline */
}

.navbar-title {
    font-size: 15px;
    color: #ffffff;
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;

}

.navbar-title::first-letter {
    font-size: 30px; /* Adjust the value as needed */
}

.navbar-logo {
    height: 40px;
}

/* Button styling */
.LoginBtn, .RegisterBtn {
    box-sizing: border-box;
    width: 130px;
    height: 45px;
    background: #11b35d;
    border: 3px solid #ffffff;
    border-radius: 50px;
    cursor: pointer;
    text-align: center;
    line-height: 35px; 
    font-size: 16px;
    margin-left: 10px; 
    font-family: 'Inter';
    font-style: normal;
    color: white;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.LoginBtn:hover {
    background-color: #FBBF16;
}

.RegisterBtn:hover {
    background-color: #FBBF16;
    color: #ffffff; 
}

.RegisterBtn {
    background: #FFFFFF;
    color: #000; 
}


.navBar li:last-child {
    display: flex;
    gap: 10px; 
}

.mainWrapper{
    width: 100%;
    height: 1200px;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
}


.mainWrapper img.Backgroundimg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: top;
    opacity: 0.3; 
    padding-top: 10%; 
    
}

.ContactUsBox {
    width: 1020px;
    height: 912px;
    background: #11b35d; 
    position: absolute;
    z-index: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.ContactUsBox p.ContactUsText{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    margin-bottom: 0px;
    color: #ffffff;
}

.ContactUsBox p.ContactUsDesc{
    width: 543px;
    margin-left: 230px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #ffffff;
}

.ContactUsBox a{
    color: white;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

.ContactUsBox a:hover{
    color: #FBBF16;
}


.ContactUsBox form {
    display: block;
    gap: 20px; /* Add some space between form elements */
    align-items: center; /* Align items at the center horizontally */
}

.form-row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    /* border: 2px solid black; */
    float: left;
    margin-left: 68px;
}

.form-group {
    width: 400px;
    flex: 1; /* Make both form groups take equal width */
    margin-right: 50px; /* Add some space between form groups */
}

.form-group:last-child {
    margin-right: 0; /* Remove margin-right for the last form group */
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    float: left;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: white;
}

.form-group label span {
    color: red;
}

.form-group input {
    width: 100%; /* Make input boxes take the full width of the form group */
    padding: 13px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width */
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.form-column {
    justify-content: center;
    margin-bottom: 20px;
    /* border: 2px solid black; */
    float: left;
    margin-left: 70px;
    width: 864px;
}

.form-group.full-width{
    width: 100%;
}

.form-column.message {
    height: 250px;
}

.form-group.message{
    width: 100%;
    height: 200px;
}

.userMessage {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 12px;
    resize: none;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.submitButton{
    position: absolute;
    width: 150px;
    height: 60px;
    bottom: 50px; /* Position the button 20px from the bottom */
    left: 50%; /* Position the button horizontally at 50% of the container width */
    transform: translateX(-50%);
    
    background: #55ABFB;
    border-radius: 10px;
    color: white;
    cursor: pointer;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border: 0;
}






































.FooterBox{
    width: 100%;
    height: 323px;
    background: #11b35d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FooterBox img.FooterLogo{
    height: 100px;
    width: 100px;
    margin-top: 40px;
}


.FooterBox p.SiteName,
.FooterBox p.Copyright{
    position: absolute;
    width: 245px;
    height: 22px;
    font-family: 'Inter';
    font-style: normal; 
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    color: #000000;
}

.FooterBox p.SiteName{
    font-size: 20px;
    margin-top: 50px;
}

.FooterBox p.Copyright{
    font-size: 15px;
    margin-top: 90px;
}


.socialIcons{
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: #006630;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons i{
    font-size: 2em;
    color:white;
    opacity: 0.9;
}

.socialIcons a:hover {
    background-color: #111;
    transition: 0.3s;
}

.socialIcons a:hover i {
    color: white;
    transition: 0.3s;
}